
config CUSTOM_KERNEL_STEP_COUNTER
	bool "CUSTOM_KERNEL_STEP_COUNTER"
	help
	  A step counter is a device, usually portable and electronic or electromechanical,
	  that counts each step a person takes by detecting the motion of the person's hands or hips.


config CUSTOM_KERNEL_SIGNIFICANT_MOTION
	bool "CUSTOM_KERNEL_SIGNIFICANT_MOTION"
	help
	  Kernel space sigificant motion sensor driver.
source "drivers/misc/mediatek/step_counter/stepsignhub/Kconfig"
#[SM31][Sensors][JasonHsing] G-sensor bma422 driver porting 20161012 --
source "drivers/misc/mediatek/step_counter/bma4xy_stc/Kconfig"

